
<p>{{errorMsg}}</p>
<div class="row text-center">
  <div class="col-sm-4" *ngFor="let movie of movies" (click)="onMovieClick(movie.id)">
    <div class="panel panel-primary">
      <div class="panel-heading">title: <strong>{{movie.title}}</strong></div>
      <div class="panel-body">
        <img [src]="movie.imagePath" width="60px" height="60px">
        <div>about: {{movie.shortDescription}}</div>
      </div>
      <div class="panel-footer">Rating :{{movie.avgRating}}</div>
    </div>
  </div>
</div>
<div class="row text-center">
  <ul class="pagination">
    <li *ngFor="let num of paginationArray; let i=index;" (click)="onPaginationClick(i+1)"><a>{{num}}</a></li>
  </ul>
</div>


